__pycache__/
*.py[cod]
db.sqlite3
*.sqlite3
.env
media/
staticfiles/
.vscode/
*.log
.idea/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.sqlite
.DS_Store
*.pyc
coverage/
htmlcov/
node_modules/
*.env
secret_key.txt
